﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App/Supervisor/Supervisor.Master" AutoEventWireup="true" CodeBehind="FormularioCliente.aspx.cs" Inherits="Fase3.App.Supervisor.FormularioCliente" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
