﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App/Supervisor/Supervisor.Master" AutoEventWireup="true" CodeBehind="InicioSupervisor.aspx.cs" Inherits="Fase3.App.Supervisor.InicioSupervisor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <br />
    <h1  style="text-align: center;" >DIPROMA</h1><br />
    <h2  style="text-align: center;" >Bienvenido Supervisor</h2>

</asp:Content>
