﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App/Vendedor/Vendedor.Master" AutoEventWireup="true" CodeBehind="InicioVendedor.aspx.cs" Inherits="Fase3.App.Vendedor.InicioVendedor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <br />
    <h1  style="text-align: center;" >DIPROMA</h1><br />
    <h2  style="text-align: center;" >Bienvenido Vendedor</h2>

</asp:Content>
