﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App/Vendedor/Vendedor.Master" AutoEventWireup="true" CodeBehind="VerAbonos.aspx.cs" Inherits="Fase3.App.Vendedor.VerAbonos" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <asp:GridView ID="gvAbonos" runat="server"></asp:GridView>


</asp:Content>
