﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App/Gerente/Gerente.Master" AutoEventWireup="true" CodeBehind="Perfil.aspx.cs" Inherits="Fase3.App.Gerente.Perfil" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div style="margin-left: auto; margin-right: auto; text-align: center;">
    </div>

            <p>
            &nbsp;</p>



    <h1 style="text-align: center;">Modificar perfil</h1><br />

    <div style="margin-left: auto; margin-right: auto; text-align: center;">


    <label for="puesto">NIT: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtNIT" runat="server" ></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />

    <label for="nombre">Nombres: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtNombres" runat="server"  ></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />


    <label for="telefono">Apellidos: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtApellidos" runat="server"></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />


    <label for="sueldo">Nacimiento: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtNacimiento" runat="server" ></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />


    <label for="sueldo">Direccion: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtDireccion" runat="server" ></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />

    

    <label for="sueldo">Telefono: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtTelefono" runat="server" ></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />


    <label for="sueldo">Celular: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtCelular" runat="server"></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />


    <label for="sueldo">e-mail: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtMail" runat="server"></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />


    <label for="sueldo">Password: </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox    ID="txtPassword" runat="server"></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />


       <asp:Button type="button" class="btn btn-outline-danger btn-lg" ID="btnModificar" runat="server" Text="Modificar" OnClick="btnModificar_Click" /><br /><br />
    </div>


</asp:Content>
