﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App/Gerente/Gerente.Master" AutoEventWireup="true" CodeBehind="Reporte1.aspx.cs" Inherits="Fase3.App.Gerente.Reporte1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <br />
        <h1 style="text-align: center;">Reporte 1 </h1>
    <br />


    <div style="margin-left: auto; margin-right: auto; text-align: center;">
        <asp:Label runat="server" Text="Ingrese fecha inicio: "></asp:Label><br />
        <asp:TextBox runat="server"></asp:TextBox><br /><br />
        <asp:Label runat="server" Text="Ingrese fecha fin:  "></asp:Label><br />
        <asp:TextBox runat="server"></asp:TextBox><br /><br />
        <asp:Label runat="server" Text="NIT Cliente:  "></asp:Label><br />
        <asp:TextBox runat="server"></asp:TextBox><br /><br />
        <asp:Button ID="btnGenerar" runat="server" Text="GenerarPDF" />
    </div>
  
</asp:Content>
