﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Administrador.master.cs" Inherits="Fase3.App.Administrador.Administrador" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>

    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>


            <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
              <a class="navbar-brand" href="/App/Administrador/InicioAdmin.aspx" >Administrador</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                    <!---<a class="nav-link" href="/App/Administrador/CargasXML.aspx">Cargas XML <span class="sr-only">(current)</span></a>--->
                      <asp:Button type="button" class="btn btn-warning" ID="btnCargas" runat="server" Text="CargasXML" OnClick="btnCargas_Click"/>
                  </li>

                    <li class="nav-item active">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                          <button type="button" class="btn btn-warning">Formularios</button>
                          <div class="btn-group" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" style="">
                                <asp:Button class="dropdown-item" ID="btnEmpleados" runat="server" Text="Empleados" OnClick="btnEmpleados_Click"/>

                            </div>
                          </div>
                        </div>
                    </li>


                  <!--<li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Formularios de registro</a>
                    <div class="dropdown-menu" style="">
                      <a class="dropdown-item" href="/app/admin/otra.aspx">Cliente</a>
                      <a class="dropdown-item" href="/app/Formularios/Rpaciente.aspx">Empleado</a>
                      <a class="dropdown-item" href="/app/Formularios/Rcita.aspx">Producto</a>
                      <a class="dropdown-item" href="/app/Formularios/Rcita.aspx">Moneda</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Consultas</a>
                    <div class="dropdown-menu" style="">
                      <a class="dropdown-item" href="/app/Consultas/Cdoctores.aspx">Cliente</a>
                      <a class="dropdown-item" href="/app/Consultas/Cespec.aspx">Empleado</a>
                      <a class="dropdown-item" href="/app/Consultas/Cpacientes.aspx">Producto</a>
                      <a class="dropdown-item" href="/app/Consultas/Ccita.aspx">Moneda</a>
                      <a class="dropdown-item" href="/app/Consultas/Ccita.aspx">Categoria</a>
                      <a class="dropdown-item" href="/app/Consultas/Ccita.aspx">Departamento</a>
                      <a class="dropdown-item" href="/app/Consultas/Ccita.aspx">Municipio</a>
                      <a class="dropdown-item" href="/app/Consultas/Ccita.aspx">Lista</a>
                      <a class="dropdown-item" href="/app/Consultas/Ccita.aspx">Municipio</a>
                      <a class="dropdown-item" href="/app/Consultas/Ccita.aspx">Puesto</a>
                    </div>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="/app/Consultas/Reportes.aspx">Reportes<span class="sr-only">(current)</span></a>
                  </li>-->

                </ul>

                <form class="form-inline my-2 my-lg-0">
                      <asp:Button  class="btn btn-secondary my-2 my-sm-0" ID="btnExit" runat="server" Text="Cerrar sesion" OnClick="Button1_Click" />
                </form>

              </div>
            </nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
           
            
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
