﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App/Administrador/Administrador.Master" AutoEventWireup="true" CodeBehind="InicioAdmin.aspx.cs" Inherits="Fase3.App.Administrador.InicioAdmin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <br />
    <h1  style="text-align: center;" >DIPROMA</h1><br />
    <h2  style="text-align: center;" >Bienvenido Administrador</h2>
    <div style="margin-left: auto; margin-right: auto; text-align: center;">
    <asp:Label style="text-align: center;"  ID="lblNUsser" runat="server" Text="" Font-Bold="True" Font-Size="Large" Font-Underline="True"></asp:Label>
    </div>

</asp:Content>
